<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::title}, ~{::section})}">
<title>contest detail</title>

<section>
  <div id="container">
    <div id="side_menu">
      <ul class="contest_menu">
        <li class="cm1"><a href="/contest">공모전</a></li>
        <li class="cm2"><a href="/join">모집</a></li>
        <li class="cm3"><a href="/community">커뮤니티</a></li>
      </ul>
    </div>

    <div id="contents">
      <h2>카테고리 상세페이지</h2>
      <div id="contest_main">
        <div class="contest_form">
          <label for="title">제목</label>
          <input type="text" id="title" name="title" value="제목" th:value=${community.title} disabled readonly>
        </div>
        <div class="contest_form">
          <label for="category">카테고리</label>
          <select th:field="${community.category}" disabled>
            <option value="">전체</option>
            <option th:each="category : ${categories}" th:value="${category.code}" 
                    th:text="${category.displayName}">전체
            </option>
          </select>
        </div>
        <div class="contest_form">
          <label for="textbox">본문</label>
          <input type="text" id="textbox" name="textbox" value="본문" th:value=${community.textbox} disabled readonly>
        </div>
        <div class="bottom_btn">
          <div class="contest_btn">
            <button class="back_btn" th:onclick="|location.href='@{/community}'|">이전</button>
            <button class="update_btn"
              th:onclick="|location.href='@{/community/post/{postNo}/modify(postNo=${community.postNo})}'|">수정</button>
            <form action="post.html" th:action method="post">
              <button type="submit" th:onclick="|location.href='@{/community}'|">삭제</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</html>