<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 max-width: 800px">
      <div class="col">
        <h1>
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="./images/logo.png" class="img-fluid height" alt="logo">
          </a>
        </h1>
        
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/contest" class="nav-link px-2 link-secondary">공모전</a></li>
        <li><a href="/join" class="nav-link px-2 link-dark">모집</a></li>
        <li><a href="/community" class="nav-link px-2 link-dark">커뮤니티</a></li>
        <li><a href="/mypage" class="nav-link px-2 link-dark">마이페이지</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <!-- <button type="button" class="btn btn-outline-primary me-2">Login</button> -->
        <button type="button" class="btn btn-warning">로그인</button>
      </div>
</header>