<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
  <header th:fragment="header" id="header">
    <h1 class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="logo">
      </a>
    </h1>
    <div class="menu_area">
    <ul class="menu">
      <li class="mm1"><a href="/contest">공모전</a></li>
      <li class="mm2"><a href="/join">모집</a></li>
      <li class="mm3"><a href="/community">커뮤니티</a></li>
      <li class="mm4"><a href="#">마이페이지</a></li>
      <li class="mm5"><a href="/login">로그인</a></li>
    </ul>
    </div>
  </header>