<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="menu">
	<div class="flex-shrink-0 p-3 bg-white" style="width: 250px;">
	  <ul class="list-unstyled ps-0">
	    <li class="mb-1">
	      <div class="collapse show" id="contest-collapse">
	        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
	          <li><a href="#"
	              class="d-flex align-items-center pb-1 link-dark d-inline-flex text-decoration-none rounded fs-5 fw-semibold">공모전</a>
	          </li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">공모분야</a></li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">응시대상자</a></li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">주최사</a></li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">시상내역</a></li>
	        </ul>
	      </div>
	    </li>
	    <li class="mb-1">
	      <div class="collapse show" id="join-collapse">
	        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
	          <li><a href="#"
	              class="d-flex align-items-center pb-1 link-dark d-inline-flex text-decoration-none rounded fs-5 fw-semibold">모집</a>
	          </li>
	        </ul>
	      </div>
	    </li>
	    <li class="mb-1">
	      <div class="collapse show" id="community-collapse">
	        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
	          <li><a href="#"
	              class="d-flex align-items-center pb-1 link-dark d-inline-flex text-decoration-none rounded fs-5 fw-semibold">커뮤니티</a>
	          </li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">공모전</a></li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">대외활동</a></li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">취업</a></li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">공부</a></li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">취미</a></li>
	          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">자유</a></li>
	        </ul>
	      </div>
	    </li>
	  </ul>
	</div>
</div>