<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::title}, ~{::section})}">
<title>contest modify</title>

<section>
  <div id="container">
    <div id="side_menu">
      <ul class="contest_menu">
        <li class="cm1"><a href="/contest">공모전</a></li>
        <li class="cm2"><a href="/join">모집</a></li>
        <li class="cm3"><a href="/community">커뮤니티</a></li>
      </ul>
    </div>

    <div id="contents">
      <h2>모집글 수정</h2>
      <form action="post.html" th:action th:object="${join}" method="post">
        <div class="contest_form">
          <label for="title">제목</label>
          <input type="text" id="title" th:field="*{title}" required>
        </div>
        <div class="contest_form">
          <label for="contestNo">공모전 번호</label>
          <input type="number" id="contestNo" th:field="*{contestNo}" required>
        </div>
        <div class="contest_form">
          <label for="region">지역</label>
          <select th:field="*{region}">
            <option value="">전체</option>
            <option th:each="region : ${regions}" th:value="${region.code}" th:text="${region.displayName}">전체</option>
          </select>
        </div>
        <div class="contest_form">
          <label for="joinLink">링크</label>
          <input type="text" id="joinLink" th:field="*{joinLink}" required>
        </div>
        <div class="contest_form">
          <label for="textbox"></label>
          <textarea rows="10" cols="60" th:field="*{textbox}" required></textarea>
        </div>
        <div class="bottom-btn">
          <button type="button" th:onclick="|location.href='@{/join}'|">취소</button>
          <button type="submit">글수정</button>
        </div>
      </form>
    </div>
  </div>
</section>