@charset "utf-8";

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

html, body, dl, dt, dd, h1, h2, h3, h4, h5, h6, ul, li, p, address{
  margin: 0;
  padding: 0;
}
body, h1, h2, h3, h4, h5, h6, p, span, ul, li, input{ 
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px; 
  font-weight: 700
}
ul, ol, li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
hr {
  display: none;
}

#wrap {
  width: 760px;
  margin: 0 auto;
}
#header {
  position: relative;
  padding-bottom: 200px;
}
#header .logo {
  position: absolute;
  left: 20px;
  top: 0;
  margin-top: 20px;
}
#header .menu_area {
  position: absolute;
  top: 63px;
  left: 230px;
}
#header .menu::after {
  content: '';
  display: block;
  clear: both;
}
#header .menu li {
  float: left;
  font-size: 24px;
  font-weight: 900;
  margin-left: 30px;
}
#header .menu li a {
  display: block;
  height: 24px;
  background: no-repeat;
  text-indent: 0;
  text-decoration: none;
  color: #FCD242;
}
#container::after {
  content: '';
  display: block;
  clear: both;
}
#container #content {
  line-height: 1.6em;
}
#container #content #joinme {
  width: 100%;
  border-radius: 2em;
  background-color: #FCD242;
}
#container #content #joinme h3 {
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
}
#container #content #joinme p {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  text-align: center;
}
#container #content #box {
  margin-top: 20px;
  text-align: center;
}
#container #content #box #box-style {
  width: 230px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  float: left;
  margin: 10px;
}
#container #content #box #box-style h3 {
  font-size: 18px;
  padding-top: 40px;
}
#container #content #box #box-style p {
  padding-top: 20px;

}
#container #content #box #box-style #button {
  padding-top: 150px;
}
#container #content #box #box-style a.btn {
  text-decoration: none;
  background-color: #FCD242;
  color: #000;
  padding: 20px;
  border-radius: 1em;
}
#container {
  position: relative;
}
#container #side_menu {
  width: 150px;
  margin-top: 45px;
  position: absolute;
}
#container #side_menu .contest_menu li {
  padding: 20px;
}
#container #side_menu .contest_menu li a {
  text-decoration: none;
  font-size: 14px;
  background-color: #F89B1D;
  color: #fff;
  padding: 15px 15px 15px 15px;
  border-radius: 0.5em;
}
#container #contents {
  content: '';
  display: block;
  clear: both;
}
#container #contents {
  width: 660px;
  margin-left: 200px;
}
#container #contents .search .search_text {
  width: 500px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 0.5em;
  border: solid 0.5px #ddd;
}
#container #contents .search .search_btn {
  padding: 10px 20px 10px 20px;
  background-color: #F89B1D;
  border-radius: 0.5em;
  border: solid 0.5px #F89B1D;
  color: #fff;
}
#container #contents h2 {
  margin-left: 250px;
  margin-bottom: 20px;
  font-size: 18px;
}
#container #contents th {
  font-size: 14px;
  padding-top: 18px;
}
.title{
  padding-left: 20px;
  width: 400px;
}
#container #content th .write-date{
  left: 200px;
}
#container #contents td {
  padding-top: 20px;
  padding-bottom: 10px;
}
#container #contents td a{
  text-decoration: none;
  font-size: 14px;
  color: #000;
}
#container #contents .bottom-btn {
  padding-left: 10px;
  display: inline;
  float: right;
}
#container #contents .bottom {
  border-top: solid 0.5px #ddd;
  padding-top: 20px;
  margin-top: 20px;
}
#container #contents .bottom-btn{
  padding-left: 10px;
  display: inline;
  float: right;
}
#container #contents #contest_main .bottom-btn{
  padding-left: 10px;
  display: inline;
  float: right;
}
#container #contents form.btn_class {
  display: inline;
  float: right;
}
#container #contents .btn{
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  background-color: #F89B1D;
  border-radius: 0.5em;
  border: solid 0.5px #F89B1D;
  color: #fff;
}
#container #contents .contest_form {
  padding: 10px;
}
#container #contents #contest_main {
  width: 540px;
  padding: 20px 20px 60px 20px;
  border: solid 0.5px #ddd;
  border-radius: 0.5em;
}
#container #contents .contest_form label {
  margin-right: 30px;
  font-size: 14px;
}
#container #contents .contest_form span {
  padding-right: 30px;
}
#container #contents .contest_form input {
  background-color: #fff;
  border: #fff;
  font-size: 14px;
}
#container #contents #login_box {
  width: 300px;
  padding: 40px;
  margin-left: 60px;
  border: solid 0.5px #ddd;
}
#container #contents #login_box a {
  text-decoration: none;
  font-size: 12px;
  color: #000;
}
#container #contents #login_box .login_bottom {
  padding-top: 20px;
  margin-left: 60px;
}
#container #contents #login_box .signin_btn {
  margin-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#container #contents .pw_form {
  display: inline;
}
#container #contents .login_form label {
  display:inline-block;
	text-align:center;
	width:80px;
  padding-bottom: 10px;
}
#container #contents .find_btn {
  margin-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
