<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>contest</title>

<!-- START : CONTAINER -->
<section>
  <main class="container">
    <div class="p-4 p-md-3 mb-4 rounded text-bg-warning">
      <div class="col-12 px-0">
        <h2 class="d-flex justify-content-center p-1">공모전</h2>
			<div class="p-4 mb-4 rounded text-bg-light">
				<p class="p-2 d-flex justify-content-center">공모전 리스트</p>
			</div>
        <table>
          <thead>
            <tr>
              <th>글번호</th>
              <th>제목</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="contest: &{contest}">
              <td><a href="item.html" 
                th:href="@{|/store/items/${item.id}|}"
                th:text="${item.id}">1</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
	</main>
</section>