<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::title}, ~{::section})}">
<title>contest modify</title>

<section>
  <div id="container">
    <div id="side_menu">
      <ul class="contest_menu">
        <li class="cm1"><a href="/contest">공모전</a></li>
        <li class="cm2"><a href="/join">모집</a></li>
        <li class="cm3"><a href="/community">커뮤니티</a></li>
      </ul>
    </div>

    <div id="contents">
      <h2>공모전 수정</h2>
      <form action="post.html" th:action th:object="${contest}" method="post">
        <div class="contest_form">
          <label for="title">이름</label>
          <input type="text" id="title" th:field="*{title}">
        </div>
        <div class="contest_form">
          <label for="companyName">회사</label>
          <input type="text" id="companyName" th:field="*{companyName}">
        </div>
        <div class="contest_form">
          <label for="field">분야</label>
          <select th:field="*{field}">
            <option value="">전체</option>
            <option th:each="field : ${fields}" th:value="${field.code}" th:text="${field.displayName}">전체</option>
          </select>
        </div>
        <div class="contest_form">
          <label for="target">대상</label>
          <select th:field="*{targetName}">
            <option value="">전체</option>
            <option th:each="targetName : ${targetNames}" th:value="${targetName.code}"
              th:text="${targetName.displayName}">전체</option>
          </select>
        </div>
        <div class="contest_form">
          <label for="host">주최</label>
          <select th:field="*{hostName}">
            <option value="">전체</option>
            <option th:each="hostName : ${hostNames}" th:value="${hostName.code}" th:text="${hostName.displayName}">전체
            </option>
          </select>
        </div>
        <div class="contest_form">
          <label for="reward">상금</label>
          <select th:field="*{reward}">
            <option value="">전체</option>
            <option th:each="reward : ${rewards}" th:value="${reward.code}" th:text="${reward.displayName}">전체</option>
          </select>
        </div>
        <div class="contest_form">
          <label for="startDate">시작</label>
          <input type="date" id="startDate" th:field="*{startDate}">
        </div>
        <div class="contest_form">
          <label for="endDate">마감</label>
          <input type="date" id="endDate" th:field="*{endDate}">
        </div>
        <div class="contest_form">
          <label for="contestLink">링크</label>
          <input type="text" id="contestLink" th:field="*{contestLink}">
        </div>
        <div class="bottom-btn">
          <button type="button" th:onclick="|location.href='@{/contest}'|">취소</button>
          <button type="submit">글수정</button>
        </div>
      </form>
    </div>
  </div>
</section>