<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::title}, ~{::section})}">
<title>contest modify</title>

<section>
  <div id="container">
    <div id="side_menu">
      <ul class="contest_menu">
        <li class="cm1"><a href="/contest">공모전</a></li>
        <li class="cm2"><a href="/join">모집</a></li>
        <li class="cm3"><a href="/community">커뮤니티</a></li>
        <li class="cm4"><a href="#">마이페이지</a></li>
      </ul>
    </div>


  </div>
</section>